/*
Syntax error: Invalid CSS after "...vertical-align:": expected expression (e.g. 1px, bold), was "; }"
        on line 93 of bugger.scss

88: input:valid, textarea:valid {  }
89: input:invalid, textarea:invalid { background-color: #f0dddd; }
90: 
91: 
92: table { border-collapse: collapse; border-spacing: 0; }
93: td { vertical-align:; }
94: 
95: 
96: 
97: /* ==========================
98:  *       Bug-22 styles

Backtrace:
bugger.scss:93
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:926:in `expected'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/script/lexer.rb:193:in `expected!'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/script/parser.rb:443:in `assert_expr'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/script/parser.rb:49:in `parse'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:819:in `sass_script'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:687:in `value!'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:664:in `declaration'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:424:in `block in declaration_or_ruleset'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:910:in `call'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:910:in `rethrow'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:434:in `declaration_or_ruleset'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:396:in `block_child'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:385:in `block_contents'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:377:in `block'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:371:in `ruleset'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:395:in `block_child'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:388:in `block_contents'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:59:in `stylesheet'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/scss/parser.rb:28:in `parse'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:327:in `_to_tree'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:247:in `render'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:169:in `block in update_stylesheets'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:167:in `each'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:167:in `update_stylesheets'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:273:in `block (4 levels) in watch'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/path.rb:73:in `call'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/path.rb:35:in `update'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/state/file.rb:19:in `refresh'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm.rb:20:in `monitor'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:245:in `watch'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin.rb:111:in `method_missing'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/exec.rb:421:in `watch_or_update'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/exec.rb:302:in `process_result'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/exec.rb:41:in `parse'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/exec.rb:21:in `parse!'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/bin/sass:8:in `<top (required)>'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `load'
/Users/shenoyc/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...vertical-align:\": expected expression (e.g. 1px, bold), was \"; }\"\A         on line 93 of bugger.scss\A \A 88: input:valid, textarea:valid {  }\A 89: input:invalid, textarea:invalid { background-color: #f0dddd; }\A 90: \A 91: \A 92: table { border-collapse: collapse; border-spacing: 0; }\A 93: td { vertical-align:; }\A 94: \A 95: \A 96: \A 97: /* ==========================\A 98:  *       Bug-22 styles"; }
